# Ignore node_modules
node_modules/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Mac/Linux/Windows noise
.DS_Store
Thumbs.db

# Ignore local tarballs (if any remain)
*.tgz

# Ignore dist builds (optional if you're not publishing built files)
dist_*.tar*
